@model Group

<form asp-action="Add" asp-controller="Group" method="post">
    <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" type="text" asp-for="Name" placeholder="Name" />
    <span asp-validation-for=Name></span> <br />
    <input asp-route-sId="@Model.Id" value="Add" type="submit" />
</form>